   .Card {
  /* text-align: center;
   display: inline-block; 
  box-shadow: 2px 2px black;
  font-family: 'Quicksand', sans-serif;
   padding: 0px !important; 
  background-color: #f5f5f5;
  color:black;
  margin: 10px;
  border-radius: 12px;
  font-size: 18px; */
  background-color: #f5f5f5;
  font: 18px 'Cinzel'
}  

.Card:hover {
  transition: transform 0.2s;
  transform: scale3d(1.006, 1.006, 1);
} 

.MoviePoster {
  height: 450px;
  width: 300px
}

.Rating {
  margin: 5px 0px 5px 0px;
}

.Title {
  font: 36px Cinzel700;
}
.Plot {
  padding-top:7.5px;
  margin-top: 5px;
  border-top: 1px solid black;
  font: inherit;
}

.watchedButton {
  background-color: #ffce30;
  margin: 5px;
}

.watchedButton:hover {
  background-color: #E4B006;
}

@media(min-width: 768px) {
  .Title {
    font: 36px Cinzel700;
    display: inline-block;
  }
}