   .Card {
  /* text-align: center;
   display: inline-block; 
  box-shadow: 2px 2px black;
  font-family: 'Quicksand', sans-serif;
   padding: 0px !important; 
  background-color: #f5f5f5;
  color:black;
  margin: 10px;
  border-radius: 12px;
  font-size: 18px; */
  color:black;
  box-shadow: 5px #555;
  border: 2px solid #f5f5f5;
  background-color: #f5f5f5;
}  

.CardHeader {
  background-color: #222;
}

.carousel-item {
  width: 70vw;
}
.MoviePoster {
  height: 300px;
  width: 200px;
  margin: 0px 0px -10% 0px;
  border: 10px solid #555;
}

.MovieContent {
  display:inline;
}
.Rating {
  margin: 5px 0px 5px 0px;
  font-size: 18px;

}

.Title {
  font: 36px;
  letter-spacing: 1.6px;
  color: white;
}
.Plot {
  padding-top:7.5px;
  margin-top: 5px;
  font-size: 18px;
}

.watchedButton {
  background-color: #ffce30;
  margin: 5px;
}

.watchedButton:hover {
  background-color: #E4B006;
}

@media(min-width: 768px) {
  .Title {
    font: 36px Cinzel700;
    display: inline-block;
  }
  /* .PlotCol {
    margin-left:-10%;
  } */
}